<template>
  <footer id="pie-pagina" class="bg-warning text-white mt-5 p-1">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">Copyright &copy; jacorecord.com</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>