<template>
  <div>
    <h1 class="display-4 text-center">Lista de tareas</h1>
    <hr />
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card mt-4">
          <div class="card-body">
            <div class="input-group">
              <input
                v-model="tarea"
                type="text"
                class="form-control form-contro-lg"
                placeholder="Agregar tarea"
              />
              <div class="input group-append">
                <button
                  v-on:click="agregarTarea"
                  class="btn btn-success btn-lg"
                >
                  Agregar
                </button>
              </div>
            </div>
            <br />
            <div v-if="loading" class="d-flex justify-content-center">
              <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <h5 v-if="listTareas.length == 0">No hay tareas para realizar</h5>
            <ul v-if="!loading" class="list-group">
              <li
                v-for="(tarea, index) of listTareas"
                :key="index"
                class="list-group-item d-flex justify-content-between"
              >
                <span
                  v-on:click="editarTarea(tarea, index)"
                  v-bind:class="{ 'text-success': tarea.estado }"
                  class="cursor"
                >
                  <i
                    v-bind:class="[
                      tarea.estado ? 'fas fa-check-circle' : 'far fa-circle',
                    ]"
                  ></i>
                </span>
                {{ tarea.title }}
                <span
                  v-on:click="eliminarTarea(tarea)"
                  class="text-danger cursor"
                  ><i class="fas fa-trash-alt"></i
                ></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

var token = localStorage.access_token;
var tokenType = localStorage.token_type;
var serverUrl = localStorage.serverUrl;

export default {
  name: "Tarea",
  data() {
    return {
      tarea: "",
      listTareas: [],
    };
  },
  methods: {
    agregarTarea() {
      const tarea = {
        title: this.tarea,
        estado: false,
        loading: false,
      };
      this.loading = true;
      axios
        .post(serverUrl + "/task/store", tarea, {
          headers: { Authorization: `${tokenType} ${token}` },
        })
        .then((response) => {
          this.loading = false;

          console.log(response.data);
          console.log("Tarea creada");
          this.obtenerTareas();
        })
        .catch((error) => {
          this.loading = false;
          console.error("Error al agregar tarea");
          console.error(error);
        });
      this.tarea = "";
    },
    eliminarTarea(tarea) {
      this.loading = true;

      axios
        .post(serverUrl + "/task/destroy", tarea, {
          headers: { Authorization: `${tokenType} ${token}` },
        })
        .then((response) => {
          this.loading = false;
          console.log(response.data);
          console.log("Tarea eliminada");
          this.obtenerTareas();
        })
        .catch((error) => {
          this.loading = false;
          console.error("Error al eliminar tarea");
          console.error(error);
        });
    },
    editarTarea(tarea, index) {
      this.listTareas[index].estado = !tarea.estado;
    },
    obtenerTareas() {
      this.loading = true;
      axios
        .get(serverUrl + "/task/tasks", {
          headers: { Authorization: `${tokenType} ${token}` },
        })
        .then((response) => {
          this.loading = false;
          console.log(response.data);
          this.listTareas = response.data;
        })
        .catch((error) => {
          this.loading = false;
          console.error("Error al obtener tareas");
          console.error(error);
        });
    },
  },
  created: function () {
    this.obtenerTareas();
  },
};
</script>

<style>
.cursor {
  cursor: pointer;
}
</style>